#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  margin: 0
}



.carousel {
  width: 1200px;
  background-color: #0f334f;
  height: 370px;
  border-radius: 4px;
  overflow: hidden;
}



.tracking {
  transition: transform 250ms ease-in;
  padding: 0 10px 0 10px ;
}

.tracking ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  height: 250px;

  gap: 10px;
  list-style: none;
}

.tracking ul .slide {
  position: absolute;
  height: 250px;
}

.tracking ul .slide img {
  height: 165px;
  width: 240px;
  border-radius: 12px;
}

.tracking ul .slide div.wrap_img_details {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 3px 0;
  gap: 10px;

}

.tracking ul .slide div.wrap_img_details .title {
  text-align: left;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  width: 240px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.tracking ul .slide div.wrap_img_details button.read_more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: none;
  height: 25px;
  border-radius: 36px;
  width: 100px;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}

.tracking ul .slide div.wrap_img_details button.read_more svg {
  height: 20px;
  width: 18px;
  font-size: 1px;
}
